cipher_detector.h5 filter=lfs diff=lfs merge=lfs -text
english_sentence.h5 filter=lfs diff=lfs merge=lfs -text
cipher_detector.tflite filter=lfs diff=lfs merge=lfs -text
english_sentence.tflite filter=lfs diff=lfs merge=lfs -text
