*.md filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.data-00000-of-00002 filter=lfs diff=lfs merge=lfs -text
*.data-00001-of-00002 filter=lfs diff=lfs merge=lfs -text
*.index filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
*.h5 filter=lfs diff=lfs merge=lfs -text
cipheydists/dist/lcase.json filter=lfs diff=lfs merge=lfs -text
cipheydists/charset/morse.json filter=lfs diff=lfs merge=lfs -text
cipheydists/charset/encodings.json filter=lfs diff=lfs merge=lfs -text
cipheydists/charset/english.json filter=lfs diff=lfs merge=lfs -text
cipheydists/list/english1000.json filter=lfs diff=lfs merge=lfs -text
cipheydists/list/english.json filter=lfs diff=lfs merge=lfs -text
cipheydists/dist/twist.json filter=lfs diff=lfs merge=lfs -text
